div{
	text-align: center;
	text-decoration: blink;
	padding: 80px;
	width: 40px;
	height:40px;
	vertical-align:middle;
	position: absolute;
}
/* carre rouge plein*/
#carreRPlein{
	border-style: dotted;
	color:red;
	background-color:red;
	border-color: red;
	border-width: 4px;
	left:40px;
	top:70px;
}
