#svg1{
	border-width: 4px;
	border-style: solid;
	border-color: red;
}
text{stroke:red;font-size: 24px; stroke-width:2px;}
path{
	stroke-width:10px;
	stroke:red;
	stroke-linejoin:bevel;
	fill:none;
}
